<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../resources/css/cotegoria.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="card-header">
        Categoria
    </div>

    <div class="card">
        <div class="card-image">
            <img src="../../resources/css/pru.svg" alt="Speakers">
        </div>
        <div class="card-content">
            <div class="card-title">Speakers</div>

            <div class="card-description">Amazon wireless speakers</div>
        </div>

        <div class="card-actions">

            <button class="btn btn-verde">
                <img src="../../resources/img/actualizar.svg" alt="Actualizar" class="btn-icon"> Actualizar
            </button>

            
            <button class="btn btn-rojo">
                <img src="../../resources/img/Group.svg" alt="Eliminar" class="btn-iconn"> Eliminar
            </button>
        </div>


    </div>



</body>

</html>