<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/admin/cs.css">
    <link rel="stylesheet" href="../../resources/css/admin/index.css">
    <link rel="stylesheet" href="../../resources/css/base/Normalize.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans&family=Handlee&family=Oswald:wght@200&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>


    <header class="header">
        <div class="logo">
            <a href="#"><img src="" alt="">GADGETSIT</a>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">Categorias</a>
                    <ul class="submenu">
                        <li><a href="#">Marcas</a></li>
                    </ul>
                </li>
                <li><a href="#">Acerca de nosotros</a></li>
                <li><a href="#">Iniciar sesion</a></li>
                <li><a href="#">Pedidos</a></li>
            </ul>
        </nav>
        <a class="btn" href="#"><button>Contact</button></a>

        <a onclick="openNav()" class="menu" href="#"><button>Menu</button></a>

        <div id="mobile-menu" class="overlay">
            <a onclick="closeNav()" href="" class="close">&times;</a>

            <div class="overlay-content">
                <a href="#">Home</a>
                <a href="#">Categorías</a>
                <a href="#">Marcas</a>
                <a href="#">Acerca de nosotros</a>
                <a href="#">Iniciar sesión</a>
                <a href="#">Pedidos</a>
            </div>
        </div>
    </header>

    <div class="card-header">
        Categoria
    </div>

    <div class="card">
        <div class="card-image">
            <img src="../../resources/css/pru.svg" alt="Speakers">
        </div>
        <div class="card-content">
            <div class="card-title">Speakers</div>

            <div class="card-description">Amazon wireless speakers</div>
        </div>

        <div class="card-actions">

            <button class="btn btn-verde">
                <img src="../../resources/img/actualizar.svg" alt="Actualizar" class="btn-icon"> Actualizar
            </button>


            <button class="btn btn-rojo">
                <img src="../../resources/img/Group.svg" alt="Eliminar" class="btn-iconn"> Eliminar
            </button>
        </div>


    </div>

    <footer>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-linkedin" target="_blank"></a>
                <a href="#" class="fa fa-instagram" target="_blank"></a>
                <a href="#" class="fa fa-twitter" target="_blank"></a>

                <a href="#" class="fa fa-whatsapp" target="_blank"></a>
            </div>
        </div>
        </div> <a href="" class="fa fa-instagram" target="_blank"></a>
        <div class="grupo-2">
            <small> <b>GADGETSIT </b> </small>
        </div>
    </footer>
</body>

<script>
    function openNav() {
        document.getElementById("mobile-menu").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mobile-menu").style.width = "0";
    }
</script>


</html>