<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login admin</title>

    <link rel="stylesheet" href="../../resources/css/admin/login.css">
</head>

<body>


    <div class="login-container">
        <h1>Hola admin!</h1>
        <p>Bienvenido</p>
        <form id="login-form" action="/login" method="post">
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Email Address" required>
                <span class="input-icon">&#9993;</span>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
                <span class="input-icon">&#128274;</span>
            </div>
            
            <button type="submit" class="login-btn">LogIn</button>
            <button type="button" id="store-btn" class="footer-btn">TIENDA</button>
        </form>
    </div>

    <script src="../../resources/js/admin/login.js"></script>

</body>

</html>
