<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login admin</title>

<link rel="stylesheet" href="../../resources/css/login.css">
</head>

<body>

    <div class="login-wrapper">
        <div class="login-branding">
            <h1 class="login-logo">GADGETSIT</h1>
            <p class="login-description">Login admin</p>
        </div>

    </div>
    <div class="login-container">
        <h1>Holaaa admin!</h1>
        <p>Welcome Back</p>
        <form action="/login" method="post">
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Email Address" required>
                <span class="input-icon">&#9993;</span>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
                <span class="input-icon">&#128274;</span>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
        <button class="footer-btn">GADGETSIT</button>
    </div>





</body>

</html>