<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>

    <link rel="stylesheet" href="../../resources/css/admin/Style.css">
    <link rel="stylesheet" href="../../resources/css/admin/header.css">
    <link rel="stylesheet" href="../../resources/css/admin/footer.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <header></header>

    <div class="container mt-5">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl"> <!-- Cambio aquí para hacer el modal más grande -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ver pedido</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 align-items-center justify-content-center">
                                <form>
                                    <div class="gadgetit-container">
                                        <div class="gadgetit-card">
                                            <div class="gadgetit-card-image">
                                                <img src="../../resources/img/iphone.svg" alt="img">
                                            </div>
                                            <div class="gadgetit-card-principal">
                                                <div class="gadgetit-card-title">Iphone 11</div>
                                                <div class="gadgetit-card-description">Pro Max</div>
                                            </div>
                                            <div class="gadgetit-card-content">
                                                <div class="gadgetit-card-title">Precio</div>
                                                <div class="gadgetit-card-description">$500</div>
                                            </div>
                                            <div class="gadgetit-card-content">
                                                <div class="gadgetit-card-title">Fecha del pedido</div>
                                                <div class="gadgetit-card-description">20/08/23</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="gadgetit-container">
                                        <div class="gadgetit-card">
                                            <div class="gadgetit-card-image">
                                                <img src="../../resources/img/watch.svg" alt="img">
                                            </div>
                                            <div class="gadgetit-card-principal">
                                                <div class="gadgetit-card-title">Apple Watch</div>
                                                <div class="gadgetit-card-description">Series 5 SE</div>
                                            </div>
                                            <div class="gadgetit-card-content">
                                                <div class="gadgetit-card-title">Precio</div>
                                                <div class="gadgetit-card-description">$500</div>
                                            </div>
                                            <div class="gadgetit-card-content">
                                                <div class="gadgetit-card-title">Fecha del pedido</div>
                                                <div class="gadgetit-card-description">20/08/23</div>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <div class="gadgetit-container">
                                        <div class="gadgetit-card">
                                            <div class="gadgetit-card-image">
                                                <img src="../../resources/img/Samsung.svg" alt="img">
                                            </div>
                                            <div class="gadgetit-card-principal">
                                                <div class="gadgetit-card-title">Samsung S20</div>
                                                <div class="gadgetit-card-description">Plus</div>
                                            </div>
                                            <div class="gadgetit-card-content">
                                                <div class="gadgetit-card-title">Precio</div>
                                                <div class="gadgetit-card-description">$500</div>
                                            </div>
                                            <div class="gadgetit-card-content">
                                                <div class="gadgetit-card-title">Fecha del pedido</div>
                                                <div class="gadgetit-card-description">20/08/23</div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <div class="container">
        <div class="gadgetit-card-header">
            <span class="text-products">Pedidos</span>
            <input class="form-control" id="SearchBar" type="search" placeholder="Buscar" style="width: 50%;">

        </div>

    </div>


    <div class="gadgetit-container">
        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/profile.svg" alt="profile">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">Ari Peñate </div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver pedido
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/rechazar.svg" alt="rechazar" class="gadgetit-btn-iconn"> Rechazar
                </button>
            </div>
        </div>
    </div>

    <div class="gadgetit-container">
        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/profile.svg" alt="Profile">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">Andres Rosales</div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver pedido
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/rechazar.svg" alt="rechazar" class="gadgetit-btn-iconn"> Rechazar
                </button>
            </div>
        </div>
    </div>

    <div class="gadgetit-container">
        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/profile.svg" alt="Profile">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">Kevin Rolin</div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver pedido
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/rechazar.svg" alt="rechazar" class="gadgetit-btn-iconn"> Rechazar
                </button>
            </div>
        </div>
    </div>

    <div class="gadgetit-container">
        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/Profile.svg" alt="Profile">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">S_pendor</div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver pedido
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/rechazar.svg" alt="rechazar" class="gadgetit-btn-iconn"> Rechazar
                </button>
            </div>
        </div>
    </div>

    <br>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>


    <footer> </footer>


    <script src="../../resources/js/admin/plantilla_nav_admin.js"></script>

    <script src="../../resources/js/admin/plantilla_ft_admin.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>

</body>

</html>