<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Declaración del tipo de documento y especificación del lenguaje -->
    <meta charset="UTF-8">
    <!-- Etiqueta para la adaptación del diseño a dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title>Registro Admin</title>

    <!-- Hoja de estilo personalizada -->
    <link rel="stylesheet" href="../../resources/css/admin/primer_uso.css">
</head>

<body>

    <!-- Contenedor principal del formulario de registro -->
    <div class="login-wrapper">
        <div class="login-branding">
            <!-- Logo y descripción -->
            <h1 class="login-logo">GADGETSIT</h1>
            <p class="login-description">Registrate admin</p>
        </div>
    </div>
    <div class="login-container">
        <!-- Título y saludo -->
        <h1>Holaaa admin!</h1>
        <p>Registrate</p>

        <!-- Formulario de primer uso -->
        <form action="/login" method="post" id="signup-Form">
            <!-- Campo para ingresar el nombre -->
            <div class="input-group">
                <input type="name" id="nombreAdministrador" name="nombreAdministrador" placeholder="Nombre" required>
                <!-- Icono asociado al campo -->
                <span class="input-icon">&#128100;</span>
            </div>
            <!-- Campo para ingresar el nombre de usuario -->
            <div class="input-group">
                <input type="name" id="apellidoAdministrador" name="apellidoAdministrador" placeholder="Apellido" required>
                <!-- Icono asociado al campo -->
                <span class="input-icon">&#64;</span>
            </div>
            <!-- Campo para ingresar el correo electrónico -->
            <div class="input-group">
                <input type="email" id="correoAdministrador" name="correoAdministrador" placeholder="Email Address" required>
                <!-- Icono asociado al campo -->
                <span class="input-icon">&#9993;</span>
            </div>
            <!-- Campo para ingresar la contraseña -->
            <div class="input-group">
                <input type="password" id="claveAdministrador" name="claveAdministrador" placeholder="Password" required>
                <!-- Icono asociado al campo -->
                <span class="input-icon">&#128274;</span>
            </div>
            <!-- Campo para ingresar el número de teléfono -->
            <div class="input-group">
                <input type="text" id="telefono" name="telefono" placeholder="Telefono" required>
                <!-- Icono asociado al campo -->
                <span class="input-icon">&#128222;</span>
            </div>
            <!-- Botón para enviar el formulario -->
            <button type="submit" class="login-btn">Registrarse</button>
        </form>
    </div>

    <!-- Scripts de la página -->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/admin/primer_uso.js"></script>
</body>

</html>
