<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promociones</title>
    <link rel="stylesheet" href="../../resources/css/admin/promociones.css">
    <link rel="stylesheet" href="../../resources/css/admin/footer.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <header> </header>


    <div class="gadgetit-container">
        <div class="gadgetit-card-header">
            <span>Promociones | activas</span>
            <button class="gadgetit-btn gadgetit-btn-agragar" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="../../resources/img/agregar.svg" alt="Actualizar" class="gadgetit-btn-icon"> Agregar
            </button>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Descuento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="category-name" class="col-form-label">Nombre del descuento:</label>
                                <input type="text" class="form-control" id="category-name">
                            </div>
                            <div class="mb-3">
                                <label for="category-description" class="col-form-label">Descuento descripción:
                                </label>
                                <textarea class="form-control" id="category-description"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Descuento %">
                            </div>
                            <textarea class="form-control" id="category-description"></textarea>
                            <select class="form-select form-select-sm" aria-label="Small select example">
                                <option selected>Elejir producto:</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success ">Agregar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/img.svg" alt="Speakers">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">Speakers</div>
                <div class="gadgetit-card-description">Amazon wireless speakers</div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde">
                    <img src="../../resources/img/actualizar.svg" alt="Actualizar" class="gadgetit-btn-icon">
                    Actualizar
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/eliminar.svg" alt="Eliminar" class="gadgetit-btn-iconn"> Eliminar
                </button>
            </div>
        </div>
    </div>

    <div class="gadgetit-container">
        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/Image.svg" alt="Speakers">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">Speakers</div>
                <div class="gadgetit-card-description">Amazon wireless speakers</div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde">
                    <img src="../../resources/img/actualizar.svg" alt="Actualizar" class="gadgetit-btn-icon">
                    Actualizar
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/eliminar.svg" alt="Eliminar" class="gadgetit-btn-iconn"> Eliminar
                </button>
            </div>
        </div>
    </div>

    <div class="gadgetit-container">
        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/Image.svg" alt="Speakers">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">Speakers</div>
                <div class="gadgetit-card-description">Amazon wireless speakers</div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde">
                    <img src="../../resources/img/actualizar.svg" alt="Actualizar" class="gadgetit-btn-icon">
                    Actualizar
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/eliminar.svg" alt="Eliminar" class="gadgetit-btn-iconn"> Eliminar
                </button>
            </div>
        </div>
    </div>

    <div class="gadgetit-container">
        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/img.svg" alt="Speakers">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">Speakers</div>
                <div class="gadgetit-card-description">Amazon wireless speakers</div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde">
                    <img src="../../resources/img/actualizar.svg" alt="Actualizar" class="gadgetit-btn-icon">
                    Actualizar
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/eliminar.svg" alt="Eliminar" class="gadgetit-btn-iconn"> Eliminar
                </button>
            </div>
        </div>
    </div>


    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../../resources/img/logo.svg" alt="Logo de SLee Dw">
                    </a>
                </figure>
            </div>

        </div>

    </footer>




    <script src="../../resources/js/plantilla_nav_admin.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>


</body>

</html>