<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>

    <link rel="stylesheet" href="../../resources/css/admin/Style.css">
    <link rel="stylesheet" href="../../resources/css/admin/header.css">
    <link rel="stylesheet" href="../../resources/css/admin/footer.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <header></header>

    <div class="container mt-5">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-l">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Informción del Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 align-items-center justify-content-center">
                                <form>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="user-name" placeholder="Nombre"
                                            value="Ari">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="User-Apellido"
                                            placeholder="Apellido" value="Peñate">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="user-mail" placeholder="Correo"
                                            value="edgar.aripenate@gmailcom">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="user-phone" placeholder="Telefono"
                                            value="76476902">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control" id="user-pass" placeholder="Contraseña"
                                            value="********">
                                    </div>
                                </form>
                                <button class="btn gadgetit-btn-Amarrillo" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" style="background-color: gold;">
                                    Ver Historial de Compras
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success">Actualizar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gadgetit-card-header">

        <span class="text-products">Usuarios</span>

        <input class="form-control" id="SearchBar" type="search" placeholder="Buscar" style="width: 50%;">

    </div>

    <div class="gadgetit-container">
        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/profile.svg" alt="profile">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">Ari Peñate </div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver Info
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/eliminar.svg" alt="Eliminar" class="gadgetit-btn-iconn"> Eliminar
                </button>
            </div>
        </div>
    </div>

    <div class="gadgetit-container">
        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/profile.svg" alt="Profile">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">Andres Rosales</div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver Info
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/eliminar.svg" alt="Eliminar" class="gadgetit-btn-iconn"> Eliminar
                </button>
            </div>
        </div>
    </div>

    <div class="gadgetit-container">
        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/profile.svg" alt="Profile">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">Kevin Rolin</div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver Info
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/eliminar.svg" alt="Eliminar" class="gadgetit-btn-iconn"> Eliminar
                </button>
            </div>
        </div>
    </div>

    <div class="gadgetit-container">
        <div class="gadgetit-card">
            <div class="gadgetit-card-image">
                <img src="../../resources/img/Profile.svg" alt="Profile">
            </div>
            <div class="gadgetit-card-content">
                <div class="gadgetit-card-title">S_pendor</div>
            </div>
            <div class="gadgetit-card-actions">
                <button class="gadgetit-btn gadgetit-btn-verde" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Ver Info
                </button>
                <button class="gadgetit-btn gadgetit-btn-rojo">
                    <img src="../../resources/img/eliminar.svg" alt="Eliminar" class="gadgetit-btn-iconn"> Eliminar
                </button>
            </div>
        </div>
    </div>

    <br>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>


    <footer> </footer>


    <script src="../../resources/js/admin/plantilla_nav_admin.js"></script>

    <script src="../../resources/js/admin/plantilla_ft_admin.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>

</body>

</html>