.contenedoor-tarjetas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse; 
}

.cardd {
  margin: 20px;
  width: 600px; 
  border-radius: 20px;
  overflow: hidden;
  background-image: url('../../img/fondo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-size: 20px; 
  float: left;
}

.cardd-content {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.cardd img {
  width: 50%; /* Este porcentaje permite que la imagen se ajuste automáticamente */
  display: block;
  margin: -60px auto 0;
  position: relative;
  z-index: 1;
  top: -10px;
}

.cardd-title {
  font-size: 35px; /* Este valor se ajustará para pantallas más pequeñas */
  font-weight: bold;
  margin-bottom: 0.25em;
}

.cardd-subtitle {
  font-size: 20px; /* Este valor se ajustará para pantallas más pequeñas */
  margin-bottom: 2em;
}

/* Media queries para hacer la tarjeta responsiva */
@media (max-width: 768px) {
  .cardd {
    width: 90%; /* Hace que la tarjeta ocupe el 90% del ancho de la pantalla en dispositivos más pequeños */
    font-size: 18px; /* Ajusta ligeramente el tamaño de la fuente para pantallas más pequeñas */
  }

  .cardd-title {
    font-size: 30px; /* Reduce el tamaño de la fuente del título para pantallas más pequeñas */
  }

  .cardd-subtitle {
    font-size: 18px; /* Reduce el tamaño de la fuente del subtítulo para pantallas más pequeñas */
  }

  .cardd img {
    margin-top: -50px; /* Ajusta la posición de la imagen para que no se corte demasiado en pantallas más pequeñas */
  }
}
