body {
  background-color: #ffffff !important;
}

.contenedoor-tarjetas {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.negro, .blanco {
  height: 450px;
  width: 600px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  background-image: url('../../img/fondo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-size: 20px;
}

.negro-content {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.negro img {
  width: 50%;
  display: block;
  margin: -60px auto 0;
  position: relative;
  z-index: 1;
  top: 22px;
}

.blanco img {   
  width: 50%;
  display: block;
  margin: -60px auto 0;
  position: relative;
  z-index: 1;
  top: 22px;
}

.negro-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0.25em;
  text-decoration: none;
  text-decoration-color: #161616 !important;
  text-decoration: underline;

  text-decoration-style: solid;
}


.negro-subtitle {
  font-size: 20px;
  margin-bottom: 2em;
  position: relative;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
}



@media (max-width: 1500px) {
  .contenedoor-tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /*  que el contenedor use todo el ancho disponible */
  }
}



@media (max-width: 910px) {
  .contenedoor-tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}



@media (max-width: 768px) {
  .contenedoor-tarjetas {

    width: 100%;
    margin: 50px 0;

  }

<<<<<<< HEAD

  .negro, .blanco {
=======
  .negro {
    margin-top: 50px !important;
>>>>>>> d907e859f0aeb44e83dfdb4bfc1b01e5bafe78e7
    width: 90%;
    height: auto;
    margin: 20px auto;
    font-size: 18px;
  }

  .negro-content {
    padding: 10px;
    /* Reducir el padding del contenido */
  }

  .negro-title {
    font-size: 24px;
    /* Reducir el tamaño de fuente del título */
  }

  .negro-subtitle {
    font-size: 16px;
    margin-bottom: 1em;
  }

  .negro img {
    width: 50%;
    /* Aumentar el  de la imagen */
    margin-top: -30px;
    top: 0;
  }

  .blanco img {
    margin-top: -50px;
    /* Ajusta la posición de la imagen para que no se corte demasiado en pantallas más pequeñas */
  }

  main {
    padding-top: 8rem;
  }
}

