
.header {
    padding: 1rem 0 3rem;
    background-color: #FAFAFA;
    height: 70px;
}


p {
    color: aliceblue;
}

.uno {
    top: 0px;
    background-color: #080808;
    margin: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;

}

.dos-track {
 
    display: flex;
    align-items: center !important; /* Agregado para centrar verticalmente */
    animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}


.tres {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 48px ; /* Ajusta la altura según tus necesidades */
    line-height: 80px !important; /* Igual a la altura para centrar verticalmente */
  }

  .navbar {
    margin-top: 28px !important; /* Puedes ajustar el valor según tus necesidades */
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.navbar {
    z-index: 1;
}