/* Estilos para el encabezado */
.header {
    padding: 0rem 0 0rem;
    background-color: #FAFAFA;
    height: 0px;
}

/* Clase de prueba con altura de 0px */
.test {
    height: 00px;
}

/* Estilos para el encabezado en la página de inicio */
.header.inicio {
    background-position: 50%;
    background-size: cover;
}

/* Estilos para los enlaces de navegación y botones */
.navegacion a,
button {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    display: block;
    text-align: center;
}

/* Contenedor del encabezado con disposición flexible */
.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Barra de separación */
.barra {
    display: flex;
    flex-direction: column;
    padding-top: 0rem;
    background-color: #322c2c !important;
    height: 10px;
}

/* Media Queries para la barra de navegación */
@media (min-width:768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}

@media (min-width:768px) {
    .navegacion {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
}

@media (min-width:768px) {
    .navegacion a {
        margin-right: 2rem;
        font-size: 1rem;
    }

    .navegacion a:last-of-type {
        margin-right: 0;
    }
}

/* Estilos para el logotipo */
.logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #463E55;
    font-weight: bold;
}

/* Estilos específicos para el fondo */
.uno {
    top: 0px;
    background-color: #080808;
    margin: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    height: 30px;
}

/* Estilos para la animación de desplazamiento */
.dos-track {
    display: flex;
    align-items: center !important; /* Agregado para centrar verticalmente */
    animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

/* Estilos para el contenido centrado */
.tres {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 48px; 
    line-height: 80px !important; 
}

/* Definición de la animación de desplazamiento */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

/* Asegurando que la barra de navegación se muestre por encima de todo */
.navbar {
    z-index: 1;
}
