
.header {
    padding: 1rem 0 3rem;
    background-color: #FAFAFA;
    height: 70px;
}

<<<<<<< HEAD
.test{
    height: 100px;
}

.header.inicio {
    background-position: 50%;
    background-size: cover;
}

.navegacion a,
button {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    display: block;
    text-align: center;
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    background-color: #FAFAFA;
}

/*Media Querys para la barra de navegacion*/
@media (min-width:768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end
    }
}

@media (min-width:768px) {
    .navegacion {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible
    }
}

@media (min-width:768px) {
    .navegacion a {
        margin-right: 2rem;
        font-size: 1rem;
    }

    .navegacion a:last-of-type {
        margin-right: 0
    }
}

.logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #463E55;
    font-weight: bold;

}
=======
>>>>>>> d907e859f0aeb44e83dfdb4bfc1b01e5bafe78e7

p {
    color: aliceblue;
}

.uno {
    top: 0px;
    background-color: #080808;
    margin: 0;
    overflow: hidden;
    position: absolute;
    z-index: 2;

}

.dos-track {
 
    display: flex;
    align-items: center !important; /* Agregado para centrar verticalmente */
    animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}


.tres {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 48px ; /* Ajusta la altura según tus necesidades */
    line-height: 80px !important; /* Igual a la altura para centrar verticalmente */
  }

  .navbar {
    margin-top: 28px !important; /* Puedes ajustar el valor según tus necesidades */
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.navbar {
    z-index: 1;
}