/* Estilos para el fondo del body */
body {
  background-color: #0C0C0C !important;
}

/* Estilos para el contenedor de tarjetas */
.contenedoor-tarjetas {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Estilos para la tarjeta negra */
.negro {
  height: 450px;
  width: 600px;
  margin: 5px auto;
  border-radius: 20px;
  overflow: hidden;
  background-image: url('../../img/fondo 3.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-size: 20px;
}

/* Estilos para la tarjeta blanca */
.blanco {
  height: 450px;
  width: 600px;
  margin: 5px auto;
  border-radius: 20px;
  overflow: hidden;
  background-image: url('../../img/fondo 2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-size: 20px;
}

/* Estilos para el contenido de la tarjeta negra */
.negro-content {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 2;
}

/* Estilos para la imagen dentro de la tarjeta negra */
.negro img {
  width: 50%;
  display: block;
  margin: -60px auto 0;
  position: relative;
  z-index: 1;
  top: 180px;
}

/* Estilos para la imagen dentro de la tarjeta blanca */
.blanco img {
  width: 50%;
  display: block;
  margin: -60px auto 0;
  position: relative;
  z-index: 1;
  top: 22px;
}

/* Estilos para el título dentro de la tarjeta negra */
.negro-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0.25em;
  text-decoration: none;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Estilos para el subtítulo dentro de la tarjeta negra */
.negro-subtitle {
  font-size: 15px;
  margin-bottom: 2em;
  position: relative;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

/* Media queries para pantallas muy grandes */
@media (max-width: 3800px) {
  .contenedoor-tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

/* Media queries para pantallas medianas */
@media (max-width: 910px) {
  .contenedoor-tarjetas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
  .contenedoor-tarjetas {
    width: 100%;
    margin: 50px 0;
    padding-top: 0rem;
  }

  /* Estilos ajustados para las tarjetas en pantallas pequeñas */
  .negro {
    margin-top: 50px !important;
    width: 90%;
    height: auto;
    margin: 20px auto;
    font-size: 18px;
  }

  .negro-content {
    padding: 10px;
  }

  .negro-title {
    font-size: 24px;
  }

  .negro-subtitle {
    font-size: 16px;
    margin-bottom: 1em;
  }

  .negro img {
    width: 50%;
    margin-top: -30px;
    top: 0;
  }

  .blanco img {
    margin-top: -50px;
  }
}

/* Estilos para los enlaces */
a {
  text-decoration: none;
}

/* Estilos adicionales para el contenedor de tarjetas */
.contenedoor-tarjetas {
  margin-top: 0;
  margin: 1rem 0rem;
}
