body {
  background-color: #ff0000;

}

.contenedoor-tarjetas {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.negro {
  height: 450px;
  margin: 20px;
  width: 600px;
  border-radius: 20px;
  overflow: hidden;
  background-image: url('../../img/fondo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-size: 20px;

}


.negro-content {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.negro img {
  width: 50%;
  display: block;
  margin: -60px auto 0;
  position: relative;
  z-index: 1;
  top: 22px;
}

.negro-title {
  font-size: 35px;
  /* Este valor se ajustará para pantallas más pequeñas */
  font-weight: bold;
  margin-bottom: 0.25em;
}

.negro-subtitle {
  font-size: 20px;
  margin-bottom: 2em;
  position: relative;
  display: inline-block;
  text-decoration: underline;
  /* Aplica un subrayado */
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
}






@media (max-width: 1500px) {

  .contenedoor-tarjetas {
    display: flex;
    justify-content: center;
    /* Centra los elementos horizontalmente */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en la pantalla pequeña */
    width: 100%;
    /* Asegura que el contenedor use todo el ancho disponible */
  }
}



@media (max-width: 910px) {

  .contenedoor-tarjetas {
    display: flex;
    justify-content: center;
    /* Centra los elementos horizontalmente */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en la pantalla pequeña */
    width: 100%;
    /* Asegura que el contenedor use todo el ancho disponible */
  }
}


@media (max-width: 768px) {

  .contenedoor-tarjetas {
    display: flex;
    justify-content: center;
    /* Centra los elementos horizontalmente */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en la pantalla pequeña */
    width: 100%;
    /* Asegura que el contenedor use todo el ancho disponible */
  }


  .negro {
    width: 90%;
    /* Hace que la tarjeta ocupe el 90% del ancho de la pantalla en dispositivos más pequeños */
    font-size: 18px;
    /* Ajusta ligeramente el tamaño de la fuente para pantallas más pequeñas */
  }

  .negro-title {
    font-size: 30px;
    /* Reduce el tamaño de la fuente del título para pantallas más pequeñas */
  }

  .negro-subtitle {
    font-size: 18px;
    /* Reduce el tamaño de la fuente del subtítulo para pantallas más pequeñas */
  }

  .negro img {
    margin-top: -50px;
    /* Ajusta la posición de la imagen para que no se corte demasiado en pantallas más pequeñas */
  }
}

/**********************************************************************************************************  
**********************************************************************************************************
*************************************                              ****************************************************
***********************************************************************************************************
************************************************************************************************************/



p {
  color: aliceblue;
}
.uno {
  background-color: #080808;
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
  position: absolute; /* Ajuste para sobreponerse */
  top: 55px; /* Altura aproximada del navbar */
  z-index: 0; /* Asegurar que el slider esté debajo del contenido del navbar */
}

.dos-track {
  display: flex;
  animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.tres {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes scroll {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-50%);
  }
}

/* Asegurando que el navbar se muestre por encima de todo */
.navbar {
  z-index: 1;
}