body {
  background-color: #ffffff !important;
}

.contenedoor-tarjetas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 2rem;
  padding-top: 5.5rem;

}

.negro {
  height: 450px; /* Mantener la altura fija */
  width: 600px; /* Mantener el ancho fijo */
  margin:0 auto !important; /* Ajustar los márgenes para centrar */
  border-radius: 20px;
  overflow: hidden;
  background-image: url('../../img/fondo.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; /* Centrar la imagen de fondo horizontalmente */
  position: relative;
}




.negro-content {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.negro img {
  top: 200px !important;
  width: 50%;
  display: block;
  margin: -60px auto 0;
  position: relative;
  z-index: 1;

}

.negro-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0.25em;
  text-decoration: none;
  text-decoration-color: #161616 !important;
  text-decoration: underline;
  text-decoration-style: solid;
}

.negro-subtitle {
  font-size: 20px;
  margin-bottom: 2em;
  position: relative;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-decoration-style: solid;
}

@media (max-width: 768px) {
  .contenedoor-tarjetas {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centrar verticalmente */
    flex-wrap: wrap;
  }

  .negro {
    width: 90%;
    font-size: 18px;
    margin: 20px 5%; /* Ajustamos el margen izquierdo y derecho */
  }

  .negro img {
    margin-top: -50px;
    
  }

}

