main {
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.header {
    padding: 1rem 0 3rem;
    background-color: #FAFAFA;
}

.header.inicio {
    background-position: 50%;
    background-size: cover;
}

.navegacion a,
button {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    display: block;
    text-align: center;
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

/*Media Querys para la barra de navegacion*/
@media (min-width:768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end
    }
}

@media (min-width:768px) {
    .navegacion {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible
    }
}

@media (min-width:768px) {
    .navegacion a {
        margin-right: 2rem;
        font-size: 1rem;
    }

    .navegacion a:last-of-type {
        margin-right: 0
    }
}

.logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #463E55;
    font-weight: bold;
}


p {
    color: aliceblue;
  }
  
  .uno {
    top: 81px;
    background-color: #080808;
    width: 100%;
    height: auto;
    margin: 0;
    overflow: hidden;
    position: absolute;
  
    z-index: 0;
  }
  
  .dos-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(200px * 14);
  }
  
  .tres {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(-50%);
    }
  }
  
  /* Asegurando que el navbar se muestre por encima de todo */
  .navbar {
    z-index: 1;
  }
  
  @media only screen and (max-width: 800px) {
    .uno {
      top: 229px;
  
    }
  }

/*Fin de navegacion*/
