main {
    padding-bottom: 2rem;
    background-color: #080808;
}


/*Main*/
.fondos .fondo {
    position: relative; 
    width: 100%; 
    height: 600px; 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    text-align: center; 
}

.fondos .fondo h1 {
    color: white; 
    width: 80%; 
    padding: 1rem;
}

@media (max-width: 1024px) {
    .fondos .fondo {
        height: 400px; /* Altura ajustada para tablets y dispositivos menores a 1024px */
    }
}

@media (max-width: 768px) {
    .fondos .fondo {
        height: 300px; /* Altura más pequeña para dispositivos móviles */
    }
    .fondos .fondo h1 {
        font-size: smaller; 
    }

    .fondos {
        padding-top: 1.5rem;
    }
}

@media (max-width: 480px) {
    .fondos .fondo {
        height: 200px; /* Altura muy pequeña para dispositivos muy pequeños */
    }
}
