/* Estilos para el main */
main {
    padding-bottom: 2rem;
    background-color: #080808;
    overflow-x: hidden; /* Asegúrate de que el contenido no se desborde horizontalmente */
}

/* Estilos generales para los fondos */
.fondos .fondo {
    position: relative;
    width: 100%;
    height: 600px; /* Altura por defecto */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Clave para el efecto parallax: hace que el fondo se mantenga fijo durante el desplazamiento */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Estilos para el texto dentro del fondo */
.fondos .fondo h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    width: 80%;
    padding: 1rem;
    border-radius: 25px;
}

/* Media query para tablets */
@media (max-width: 1024px) {
    .fondos .fondo {
        height: 400px;
    }
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .fondos .fondo {
        height: 300px;
    }
    .fondos .fondo h1 {
        font-size: smaller;
    }

    /* Ajuste del padding superior para dispositivos móviles */
    .fondos {
        padding-top: 1.5rem;
    }
}

/* Media query para dispositivos muy pequeños */
@media (max-width: 480px) {
    .fondos .fondo {
        height: 200px; /* Altura muy pequeña para dispositivos muy pequeños */
    }
}
