/* Estilos para el main */
main {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* Estilos para la descripción del producto */
.producto-descripcion {
    margin: 0 auto;
    max-width: 90%;
    height: auto;
}

/* Estilos para la tarjeta */
.card {
    background-color: #F0F0F0;
    margin-top: 6rem;
}

/* Estilos para los títulos dentro de la tarjeta */
.card-body h4 {
    color: #8E8E8E;
}

/* Estilos para el botón de agregar al carrito */
.boton {
    display: inline-block;
    padding: 10px 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
}

.boton:hover {
    background-color: #ddd;
}

.boton.agregar-carrito {
    background-color: #000;
    color: #fff;
}

.boton.agregar-carrito .icono {
    margin-left: 15px;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.boton.agregar-carrito .texto {
    margin: 0 auto;
}

/* Estilos para la lista de reseñas */
.lista li {
    margin-top: 5px;
    font-weight: 500;
    color: #838383;
}

/* Estilos para la sección de opiniones */
.Opiniones {
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

/* Estilos para el título de comentarios */
.titulo-comentario {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

/* Estilos para el contenido del comentario */
.comentario-contenido {
    color: #000;
}

/* Estilos para el texto de la tarjeta */
.card-text {
    color: #000;
}

/* Estilos para la sección de comentarios */
.comentar {
    margin-top: 4rem;
    padding-bottom: 2rem;
}

/* Media queries */

/* Ajuste para dispositivos pequeños */
@media (max-width: 767px) {
    .contenedor {
        width: 90%;
    }

    /* Ajuste del padding para varios elementos */
    .header,
    .producto-descripcion,
    .Opiniones {
        padding: 1rem;
    }

    /* Ajuste de la disposición de elementos */
    .contenido-header,
    .barra,
    .navegacion,
    .producto-descripcion,
    .card,
    .Opiniones {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* Ajuste del tamaño de fuente y padding para enlaces y botones */
    .navegacion a,
    .boton {
        font-size: 0.9rem;
        padding: 8px 28px;
    }

    /* Ajuste de la margin-top para el artículo y la tarjeta */
    .articulo {
        padding-top: 30rem;
    }

    .card {
        margin-top: 15rem;
    }
}

/* Ajuste para tablets y dispositivos medianos */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Ajuste global para botones, asegurando que sean más grandes en dispositivos móviles */
@media (max-width: 767px) {
    button,
    .boton {
        padding: 12px 38px;
        font-size: 1rem;
    }
}

/* Estilos para el botón de "me gusta" */
.like-button {
    border-style: none;
    background-color: #FFF;
}

