main {
    padding-top: 5rem;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.header {
    padding: 1rem 0 3rem;
    background-color: #FAFAFA;
}

.header.inicio {
    background-position: 50%;
    background-size: cover;
}

.navegacion a,
button {
    text-decoration: none;
    font-size: 1rem;
    color: black;
    font-family: 'Raleway', sans-serif;
    display: block;
    text-align: center;
}

.contenido-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

/*Media Querys para la barra de navegacion*/
@media (min-width:768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end
    }
}

@media (min-width:768px) {
    .navegacion {
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible
    }
}

@media (min-width:768px) {
    .navegacion a {
        margin-right: 2rem;
        font-size: 1rem;
    }

    .navegacion a:last-of-type {
        margin-right: 0
    }
}

.logo a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #463E55;
    font-weight: bold;

}

.producto-descripcion {
    margin: 0 auto;
    max-width: 90%;
    /* Ajusta el ancho máximo para ser más flexible */
    height: auto;
    /* Hace que la altura se ajuste al contenido */
}


.card {
    background-color: #F0F0F0;
    margin-top: 6rem;
}

.card-body h4 {
    color: #8E8E8E;
}

/*Boton agregar al carrito*/
.boton {
    display: inline-block;
    padding: 10px 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 20px;
}

.boton:hover {
    background-color: #ddd;
}

.boton.agregar-carrito {
    background-color: #000;
    color: #fff;
}

.boton.agregar-carrito .icono {
    margin-left: 15px;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.boton.agregar-carrito .texto {
    margin: 0 auto;
}

/*Parte de reseñas*/
.lista li {
    margin-top: 5px;
    font-weight: 500;
    color: #838383;
}

.Opiniones {
    margin-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.titulo-comentario {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.comentar {
    margin-top: 4rem;
    padding-bottom: 2rem;
}

/* Para pantallas pequeñas, ajusta el padding y la disposición de elementos */
@media (max-width: 767px) {
    .contenedor {
        width: 90%;
    }

    .header,
    .producto-descripcion,
    .Opiniones {
        padding: 1rem;
    }

    .contenido-header,
    .barra,
    .navegacion,
    .producto-descripcion,
    .card,
    .Opiniones {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navegacion a,
    .boton {
        font-size: 0.9rem;
        /* Reduce el tamaño del texto para mejor ajuste */
        padding: 8px 28px;
        /* Ajusta el padding para que sea más pequeño */
    }

    .Opiniones {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .articulo {
        padding-top: 30rem;
    }

    .card {
        margin-top: 15rem;
    }
}

/* Para tablets y dispositivos medianos */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Ajusta según necesidad, similar a los ajustes para pantallas pequeñas */
}

/* Ajuste global para botones, asegurando que sean más grandes en dispositivos moviles */
@media (max-width: 767px) {

    button,
    .boton {
        padding: 12px 38px;
        font-size: 1rem;
    }
}

.like-button {
    border-style: none;
    background-color: #FFF;
}