/* Estilos para el main */
main {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/* Clase para la barra de búsqueda */
.buscador {
    max-width: 80%;
    padding-top: 30rem;
    padding-bottom: 0rem;
}

/* Estilos para las tarjetas */
.card-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilos para los iconos de características */
.iconos-caracteristicas {
    position: absolute;
    bottom: 10px;
    right: 10px;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
}

.iconos-caracteristicas li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    margin-top: auto;
}

.iconos-caracteristicas img {
    width: 2rem;
    height: auto;
}

.iconos-caracteristicas h5 {
    margin-bottom: 0;
}

/* Estilos para la descripción y el precio */
.descripcion-precio {
    flex-grow: 1;
}

/* Estilos para las imágenes de las tarjetas */
.card img {
    height: 10rem;
}

/* Ajuste para la clase contenedoor-tarjetas */
.contenedoor-tarjetas{
    margin-top: 0;
    margin: 1rem 0rem;
}

/* Ajuste adicional para la clase buscador */
.buscador{
    padding-top: 0px;
    margin: 0% 10%;
}

