<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/login.css">
</head>

<body>

    <div class="container-fluid h-100">
        <div class="row">
            <!-- Image section -->
            <div class="col-md-8 image-section">
                <img src="../../resources/img/login_fondo.svg" alt="Background" />
            </div>

            <!-- Form section -->
            <div class="col-md-4 login-section">
                <div class="login-container">
                    <img class="logoimg" src="../../resources/img/GADGETSIT.svg" />
                    <h5>Crear Cuenta</h5>
                    <form id="login-form" action="/login" method="post">
                        <div class="input-group">
                            <input type="text" id="name" name="name" placeholder="Nombre" required>
                            <span class="input-icon">&#128100;</span>
                        </div>
                        <div class="input-group">
                            <input type="text" id="lastname" name="lastname" placeholder="Apellido" required>
                            <span class="input-icon">&#128100;</span>
                        </div>
                        <div class="input-group">
                            <input type="email" id="email" name="email" placeholder="Correo electronico" required>
                            <span class="input-icon">&#9993;</span>
                        </div>
                        <div class="input-group">
                            <input type="text" id="phone" name="Phone" placeholder="Telefono" required>
                            <span class="input-icon">&#128222;</span>

                        </div>
                        <div class="input-group">
                            <input type="password" id="password" name="password" placeholder="Contraseña" required>
                            <span class="input-icon">&#128274;</span>
                        </div>
                        <button type="submit" class="login-btn">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.11/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>