<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/login.css">
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
</head>

<body>

    <div class="container-fluid h-100">
        <div class="row">
            <!-- Sección de imagen -->
            <div class="col-md-8 image-section">
                <img src="../../resources/img/login_fondo.svg" alt="Fondo" />
            </div>

            <!-- Sección del formulario -->
            <div class="col-md-4 login-section">
                <div class="login-container">
                    <img class="logoimg" src="../../resources/img/GADGETSIT.svg" />
                    <h5>Crear Cuenta</h5>
                    <form action="/login" method="post" id="signup-Form">
                        <div class="input-group">
                            <input type="text" id="nombreCliente" name="nombreCliente" placeholder="Nombre" required>
                            <span class="input-icon">&#128100;</span>
                        </div>
                        <div class="input-group">
                            <input type="text" id="apellidoCliente" name="apellidoCliente" placeholder="Apellido" required>
                            <span class="input-icon">&#128100;</span>
                        </div>
                        <div class="input-group">
                            <input type="email" id="correoCliente" name="correoCliente" placeholder="Correo electrónico" required>
                            <span class="input-icon">&#9993;</span>
                        </div>
                        <div class="input-group">
                            <input type="text" id="duiCliente" name="duiCliente" placeholder="DUI" required>
                            <span class="input-icon">🪪;</span>
                        </div>
                        <div class="input-group">
                            <input type="text" id="direccionCliente" name="direccionCliente" placeholder="Dirección" required>
                            <span class="input-icon">🏠;</span>
                        </div>
                        <div class="input-group">
                            <input type="text" id="nacimientoCliente" name="nacimientoCliente" placeholder="Fecha de Nacimiento" required>
                            <span class="input-icon">📅;</span>
                        </div>
                        <div class="input-group">
                            <input type="text" id="telefonoCliente" name="telefonoCliente" placeholder="Numero de Telefono" required>
                            <span class="input-icon">&#128222;</span>
                        </div>
                        <div class="form-container">
                            <div class="input-group">
                                <input type="password" id="claveCliente" name="claveCliente" placeholder="Contraseña" required>
                                <span class="input-icon">&#128274;</span>
                            </div>
                            <div class="input-group">
                                <input type="password" id="confirmarClave" name="confirmarClave" placeholder="Confirmar Contraseña" required>
                                <span class="input-icon">&#128274;</span>
                            </div>
                        </div>
                        <button type="submit" class="login-btn">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Incluir Bootstrap JavaScript opcional -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.11/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Scripts de la página -->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/public/crear_cuenta.js"></script>

</body>

</html>