<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/public/login.css">
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
</head>

<body>

    <div class="container-fluid h-100">
        <div class="row">
            <!-- Image section -->
            <div class="col-md-8 image-section">
                <img src="../../resources/img/login_fondo.svg" alt="Background" />
            </div>

            <!-- Form section -->
            <div class="col-md-4 login-section">
                <div class="login-container">
                    <img class="logoimg" src="../../resources/img/GADGETSIT.svg" />
                    <h5>Inicia sesión</h5>
                    <p class="holat">¡Hola de nuevo!</p>
                    <form id="login-form"  method="post">
                        <div class="input-group">
                            <input type="email" id="correo" name="correo" placeholder="Correo electronico" required>
                            <span class="input-icon">&#9993;</span>
                        </div>
                        <div class="input-group">
                            <input type="password" id="clave" name="clave" placeholder="Contraseña" required>
                            <span class="input-icon">&#128274;</span>
                        </div>
                        <div class="mb-3">
                            <a href="../../views/public/recuperacion.html" class="forgot-password-link" >¿Contraseña olvidada?</a>
                        </div>
                        <button type="submit" class="login-btn">Iniciar Sesión</button>
                        <div class="signup-link">
                            ¿No tienes cuenta? <a href="../../views/public/crear_cuenta.html" >Crear cuenta</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.11/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Inclusión del archivo JavaScript para la funcionalidad del formulario de login -->
        <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
        <script type="text/javascript" src="../../controllers/utils/components.js"></script>
        <script type="text/javascript" src="../../controllers/public/login.js"></script>

</body>

</html>