<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans&family=Handlee&family=Oswald:wght@200&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!--Hojas de estilo-->
    <link rel="stylesheet" href="../../resources/css/base/Normalize.css">
    <link rel="stylesheet" href="../../resources/css/public/producto.css">
    <link rel="stylesheet" href="../../resources/css/public/footer.css">
  <link rel="stylesheet" href="../../resources/css/public/login.css">
  <link rel="stylesheet" href="../../resources/css/public/header.css">
  <link rel="stylesheet" href="../../resources/css/public/scroll.css">
</head>

<body>
    
    <header> </header>

    <h4 id="mainTitle"></h4>

    <main class="contenedor">
        <div class="card mb-3 producto-descripcion border-light rounded-5" style="max-width: 900px; height: 420px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img id="imagen_producto" name="imagen_producto" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title display-5 fw-bold" id="nombreProducto"></h1>
                        <h4 id="Modelo"></h4>
                        <h5 id="precioFinal">$</h5>
                        <p class="card-text" id="descripcionProducto"></p>
                        <!-- descripcion del producto -->
                        <form class="row" id="shoppingForm">
                            <!-- Campo oculto para asignar el id del producto -->
                            <input type="number" class="d-none" id="idProducto" name="idProducto">
                            <button class="boton btn agregar-carrito">
                                <span class="texto">Agregar al carrito</span>
                                <span class="icono"><img src="../../resources/img/carrito light.svg" alt=""
                                        loading="lazy"></span>
                            </button>
                        </form>

                        <!-- Boton para agregar al carrito -->
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </main>

    <section class="contenedor">
        <div class="articulo mt-4" style="max-width: 900px; margin: auto;">
            <h4>Sobre este articulo</h4>
            <ul class="lista">
                <li id="especificacionesProducto"></li>
            </ul>
            <!-- Caracteristicas del producto -->
        </div>
    </section>

    <section class="contenedor">
        <div class="Opiniones">
            <h1>Opiniones</h1>
            <!-- seccion de comentarios -->
            <div class="comentario">
                <div class="titulo-comentario">
                    <h5>Robert Downey Jr.</h5>
                    <button class="like-button" id="likeButton">
                        <img src="../../resources/img/Vector.svg" alt="" loading="lazy" />
                        <span id="likeCount">5</span>
                    </button>
                </div>
                <p class="comentario-contenido">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsa magni eos, quibusdam nam
                    nostrum recusandae cupiditate placeat perspiciatis rerum distinctio vel? Aliquid consectetur
                    officiis autem perferendis explicabo natus eius? Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Tempora fuga dignissimos odit, tenetur vitae dicta totam delectus. Ipsam illo in, cum labore
                    illum blanditiis, expedita perspiciatis, hic quaerat tempore eligendi?
                </p>
                <hr>
            </div>

            <div class="comentario">
                <div class="titulo-comentario">
                    <h5>Robert Downey Jr.</h5>
                    <button class="like-button" id="likeButton">
                        <img src="../../resources/img/Vector.svg" alt="" loading="lazy" />
                        <span id="likeCount">23</span>
                    </button>
                </div>
                <p class="comentario-contenido">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsa magni eos, quibusdam nam
                    nostrum recusandae cupiditate placeat perspiciatis rerum distinctio vel? Aliquid consectetur
                    officiis autem perferendis explicabo natus eius? Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Tempora fuga dignissimos odit, tenetur vitae dicta totam delectus. Ipsam illo in, cum labore
                    illum blanditiis, expedita perspiciatis, hic quaerat tempore eligendi?
                </p>
                <hr>
            </div>

            <div class="comentario">
                <div class="titulo-comentario">
                    <h5>Robert Downey Jr.</h5>
                    <button class="like-button" id="likeButton">
                        <img src="../../resources/img/Vector.svg" alt="" loading="lazy" />
                        <span id="likeCount">2</span>
                    </button>
                </div>
                <p class="comentario-contenido">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsa magni eos, quibusdam nam
                    nostrum recusandae cupiditate placeat perspiciatis rerum distinctio vel? Aliquid consectetur
                    officiis autem perferendis explicabo natus eius? Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Tempora fuga dignissimos odit, tenetur vitae dicta totam delectus. Ipsam illo in, cum labore
                    illum blanditiis, expedita perspiciatis, hic quaerat tempore eligendi?
                </p>
                <hr>
            </div>

            <div class="comentario">
                <div class="titulo-comentario">
                    <h5>Robert Downey Jr.</h5>
                    <button class="like-button" id="likeButton">
                        <img src="../../resources/img/Vector.svg" alt="" loading="lazy" />
                        <span id="likeCount">0</span>
                    </button>
                </div>
                <p class="comentario-contenido">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ipsa magni eos, quibusdam nam
                    nostrum recusandae cupiditate placeat perspiciatis rerum distinctio vel? Aliquid consectetur
                    officiis autem perferendis explicabo natus eius? Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Tempora fuga dignissimos odit, tenetur vitae dicta totam delectus. Ipsam illo in, cum labore
                    illum blanditiis, expedita perspiciatis, hic quaerat tempore eligendi?
                </p>
            </div>

            <div class="input-group mb-3 comentar">
                <input type="text" class="form-control" placeholder="Escribe un comentario del producto..."
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Enviar</button>
            </div>
            <!-- input para agregar un comentario -->
        </div>
    </section>

    <footer> </footer>

    <script src="../../resources/js/public/plantilla_ft_public.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <script src="../../resources/js/public/plantilla_menu.js"></script>

    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/public/producto.js"></script>


</body>

</html>