body {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.container2 {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-top: 50px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

h4 {
    color: #666;
    margin-bottom: 20px;
    font-size: 18px;
}

canvas {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}

/* Mejoras específicas para gráficos */
.chart-container3 {
    position: relative;
    margin: auto;
    height: 40vh;
    width: 80vw;
}


body {
    background-color: #343a40; /* Fondo oscuro */
}

.stat-card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.stat-number {
    font-size: 2em;
    font-weight: bold;
}

h4 {
    font-weight: normal;
}



.estadistics{
    margin: 7% 50px;
}