/* Estilos básicos para el cuerpo y html, estableciendo el tamaño, margen, tipografía y un fondo degradado. Se desactiva el desplazamiento. */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #202020 0%, #e0e0e0 60%, #ffffff 100%);
    overflow: hidden;
}

/* Estilos para el elemento de branding a la izquierda, con posición absoluta para ubicarlo específicamente y colores definidos. */
.login-branding {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

/* Estilos para el logo dentro del elemento de branding, ajustando el tamaño de fuente y el peso. */
.login-logo {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

/* Estilos para la descripción dentro del elemento de branding, definiendo el tamaño de la fuente. */
.login-description {
    font-size: 18px;
}

/* Estilos para el título (h1) dentro del contenedor de login, ajustando el tamaño de la fuente, color y margen inferior. */
.login-container h1 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 10px;
}

/* Estilos para párrafos dentro del contenedor de login, definiendo el color y el margen inferior. */
.login-container p {
    color: #555;
    margin-bottom: 30px;
}

/* Estilos para los grupos de input, estableciendo posición relativa y margen inferior. */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

/* Estilos específicos para inputs dentro de los grupos de input, incluyendo dimensiones, padding, bordes, tamaño de fuente y color. */
.input-group input {
    width: 87%;
    padding: 15px;
    padding-left: 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
}

/* Estilos para el icono dentro de los grupos de input, ajustando su posición y color. */
.input-group .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

/* Estilos base para botones, definiendo dimensiones, bordes, tamaño de fuente, color, cursor y margen inferior. */
.login-btn, .footer-btn, .tienda-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 25px;
}

/* Estilo específico para el botón de login, definiendo su color de fondo. */
.login-btn {
    background-color: #000000;
}

/* Estilos para botones de pie de página y tienda, ajustando el color de fondo y bordes. */
.footer-btn {
    background-color: #555;
    border: none;
}

/* Estilo específico para el contenedor de login, incluyendo su posición, dimensiones, padding, fondo, bordes y alineación de texto. */
.login-container {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    padding: 40px;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
}

/* Estilo adicional para botones de tienda, definiendo el color de fondo. */
.tienda-btn {
    background-color: #555;
}

/* Estilos adicionales para grupos de input, mejorando la disposición de sus elementos internos. */
.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

/* Estilos para enlaces de registro, ajustando su color. */
.signup-link {
    color: #727272;
}

/* Estilos generales para enlaces, definiendo el color y eliminando el subrayado. */
a {
    color: #1b1b1b;
    text-decoration: none;
}


@media (max-width: 767px) {
    .login-branding {
        position: absolute;
        left: 50%;
        top: 5%; /* Espacio suficiente para evitar superposición y mantener armonía */
        transform: translate(-50%, 0); /* Centrado horizontal del branding */

    }

    body, html {
       
        background: linear-gradient(to right, #000000 0%, #a8a8a8 50%, #e6e6e6 100%);
       
    }

    .login-container {
        position: absolute;
        left: 50%;
        top: 25%; /* Espacio armonioso entre el branding y el contenedor */
        transform: translate(-50%, 0); /* Centrado horizontal del contenedor */
        width: 80%; /* Ancho adecuado para la mayoría de los dispositivos móviles */
        padding: 20px; /* Padding ajustado para dispositivos móviles */
    }


    
}
