body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}
.profile-container {
    text-align: center;
    color: #333;
    max-width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin-bottom: 40px;
}
.profile-header {
    margin-bottom: 20px;
    position: relative;
}
.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-header h2 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 10px;
}
.profile-header .name {
    font-size: 1.4em;
    font-weight: 700;
    color: #555;
}
.stats {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    font-size: 17px;
}
.stat {
    margin: 10px 20px;
    font-size: 1.1em;
    color: #555;
    display: flex;
    align-items: center;
}
.stat i {
    margin-right: 10px;
    color: #949494;
    font-size: 1.2em;
}
.actualizar {
    display: inline-block;
    margin: 20px 0;
    padding: 16px 30px;
    background-color: #004e72;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
  

  
  .actualizar:hover {
    background-color: #003654;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }

.actualizar img {
    width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 30px;
    margin-right: 8px; /* Espacio entre la imagen y el texto del botón */
}


.cerrar {
    
    display: inline-block;
    margin: 20px 0;
    padding: 16px 30px;
    background-color: #ba0000;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
  

  
  .cerrar:hover {
    background-color: #980000;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }

.cerrar img {
    width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 30px;
    margin-right: 8px; /* Espacio entre la imagen y el texto del botón */
}



.cambiar {
    display: inline-block;
    margin: 20px 0;
    padding: 16px 30px;
    background-color: #0071a5;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
  

  
  .cambiar:hover {
    background-color: #006594;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }

.cambiar img {
    width: 30px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 30px;
    margin-right: 8px; /* Espacio entre la imagen y el texto del botón */
}


.actualizar:hover {
    background-color: #003f5c;
}
@media (max-width: 600px) {
    .profile-container {
        padding: 30px;
    }
    .profile-picture {
        width: 100px;
        height: 100px;
    }
    .profile-header h2 {
        font-size: 1.6em;
    }
    .profile-header .name {
        font-size: 1.2em;
    }
    .stat {
        font-size: 1em;
        margin: 10px;
    }
    .stat i {
        font-size: 1.1em;
    }
    .actualizar {
        width: 100%;
        box-sizing: border-box;
        font-size: 1em;
        padding: 12px 30px;
    }
}