body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #000000 0%, #e0e0e0 50%, #ffffff 100%);
    overflow: hidden;
}

.login-branding {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
}

.login-logo {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.login-description {
    font-size: 18px;
}


.login-container h1 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 10px;
}

.login-container p {
    color: #555;
    margin-bottom: 30px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 87%;
    padding: 15px;
    padding-left: 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
}

.input-group .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.login-btn, .footer-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}

.login-btn {
    background-color: #000000;
}

.footer-btn {
    background-color: #555;
    border: none;
}

/* Estilos para el contenedor del formulario de inicio de sesión */
.login-container {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    padding: 40px;
    background: #ffffff;
    border-radius: 10px;
    text-align: center;
}

/* Estilos adicionales para inputs, botones, etc. se mantienen intactos */

/* Media query para adaptar el diseño en dispositivos móviles */
@media (max-width: 767px) {
    .login-branding {
        position: absolute;
        left: 50%;
        top: 5%; /* Espacio suficiente para evitar superposición y mantener armonía */
        transform: translate(-50%, 0); /* Centrado horizontal del branding */

    }

    body, html {
       
       
        background: linear-gradient(to right, #000000 0%, #a8a8a8 50%, #e6e6e6 100%);
       
    }

    .login-container {
        position: absolute;
        left: 50%;
        top: 25%; /* Espacio armonioso entre el branding y el contenedor */
        transform: translate(-50%, 0); /* Centrado horizontal del contenedor */
        width: 80%; /* Ancho adecuado para la mayoría de los dispositivos móviles */
        padding: 20px; /* Padding ajustado para dispositivos móviles */
    }
}
