span {
  color: #000000;
  font-size: 30px;
  margin-top: 50px;
}

.gadgetit-container {
  font-family: Arial, sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 20px 20px 10px 20px;
}
tres
.text-products {
  margin: 20px 0px;
  color: black;
}

.gadgetit-card-header {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5%;
  padding-top: 10px;
}

.gadgetit-card {
  background: #EAEAEA;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gadgetit-card-image {
  width: 10%;
}

.gadgetit-card-image img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.gadgetit-card-principal {
  text-align: left;
  margin-left: 30px;
  width: 25%;
}

.gadgetit-card-content {
  text-align: center;
  margin-left: 0px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.gadgetit-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.gadgetit-card-title,
.gadgetit-card-description {
  color: #414141;
  margin-top: 0px;
}

.gadgetit-card-title {
  font-size: 28px;
  font-weight: bold;
}

.gadgetit-card-description {
  font-size: 16px;
  color: #666;
}

.gadgetit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border: none;
  border-radius: 20px;
  padding: 0 40px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 10px;
  background-color: #02D693;
}

.gadgetit-btn:hover {
  background-color: #00ac75;
}

.gadgetit-btn-rojo {
  background-color: #ff2e2e;
}

.gadgetit-btn-rojo:hover {
  background-color: #e10000;
}


.gadgetit-btn-agregar {
  height: 20px;
  border-radius: 16px;
  padding: 0 40px;
  padding-top: 200px;
  background-color: #00b179;
}

.gadgetit-btn-agregar:hover {
  background-color: #009966;
}



.gadgetit-btn-icon,
.gadgetit-btn-iconn {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

/* Estilos Base */
.gadgetit-container {
  font-family: Arial, sans-serif;
  background: #ffffff;
  margin: 0 auto;
  padding: 20px 20px 10px;
  max-width: 1200px;
}

.gadgetit-card-header {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  margin: 0 1.5%;
}

.gadgetit-card {
  background: #EAEAEA;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gadgetit-card-image {
  width: 150px;
}

.gadgetit-card-image img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.gadgetit-card-principal,
.gadgetit-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.gadgetit-card-title,
.gadgetit-card-description {
  margin: 5px 0;
}

.gadgetit-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.gadgetit-btn-icon,
.gadgetit-btn-iconn {
  margin-right: 5px;
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
    /* Ajustar el tamaño base de la fuente */
  }

  .gadgetit-card-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }

  #SearchBar {
    width: 100%;
    margin: 10px 0;
    /* Espacio adicional arriba y abajo */
  }

  .gadgetit-card {
    flex-direction: column;
    align-items: center;
  }

  .gadgetit-card-image img {
    width: 90%;
    /* Ajustar el ancho de la imagen */
    text-align: center;
    align-items: center;
  }

  .gadgetit-card-principal,
  .gadgetit-card-content,
  .gadgetit-card-actions {
    width: 100%;
    /* Utilizar el ancho completo */
    margin-top: 10px;
    text-align: center;
  }

  .gadgetit-btn {
    width: auto;
    margin: 10px 2px;
    /* Ajustar el espaciado */
  }

  .gadgetit-card-title,
  .gadgetit-card-description {
    margin-top: 5px;
    /* Ajustar el margen superior */
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
    /* Ajustar el tamaño base de la fuente */
  }

  .gadgetit-card-header {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
  }

  #SearchBar {
    width: 50%;
    /* Ajustar el ancho para tabletas */
  }

  .gadgetit-card {
    flex-direction: row;
    padding: 15px;
    align-items: center;
    /* Asegurar alineación vertical */
  }

  .gadgetit-card-image img {
    width: 100px;
    /* Tamaño fijo para las imágenes */
  }

  .gadgetit-card-image {
    width: 100px;
    /* Tamaño fijo para las imágenes */
  }

  .gadgetit-card-principal,
  .gadgetit-card-content {
    margin-left: 20px;
    width: auto;
    /* Ajustar el ancho automáticamente */
  }

  .gadgetit-card-actions {
    justify-content: space-between;
    /* Espaciado entre botones */
    flex-direction: column;
  }
}



p {
  color: aliceblue;
}

.uno {
  top: 81px;
  background-color: #080808;
  width: 100%;
  height: auto;
  margin: 0;
  overflow: hidden;
  position: absolute;

  z-index: 0;
}

.dos-track {
  display: flex;
  animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.tres {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* Asegurando que el navbar se muestre por encima de todo */
.navbar {
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .uno {
    top: 229px;

  }
}
